<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Word Bomb</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Score: <%= userScore %></h2>
        <h3>Time Remaining:</h3>
        <div class="rectangle"></div>
        <form action="/play" method="post" autocomplete="off">
            <h3>Enter a word containing: <%= letters %> </h3>
            <input type="text" name="userWord" id="userInput" autocomplete="off" autofocus="true">
            <button name="button" type="submit" value="go">Go</button>
            <button name="button" type="submit" value="reset">Reset</button>
        </form>
        <h2><%= gameStatus %></h2>
    </div>


    <script type="text/javascript">
        function contract() {
            $(".rectangle").animate({
                height: '20px',
                width: '0px'
            }, 10000);
            setTimeout(function () {
                alert("You ran out of time! Click the reset button to play again!");
            }, 10000)
        }

        contract()
    </script>

</body>

</html>